body {
    background: grey; text-align: center;
}
    h1 {
        text-align: center; text-shadow: hotpink; background: white;}
    
    p {background: white;}

    nav {background: honeydew;}

    
